
.title {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	font-weight: bold;
	padding-top: 100px;
	padding-left: 100px;
}

.subtitle {
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
}